body {
  font-family: Arial, sans-serif;
  background: #f2e4c4;
  padding: 20px;
  text-align: center;
}

/* flexbox layout for main game */
.game {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: flex-start; /* align top */
  gap: 40px; /* space between cookie + shop */
  margin-top: 30px;
}

/* left side cookie area */
.cookie-area {
  text-align: center;
  font-size: 20px;
}

#cookie {
  margin-top: 20px;
  font-size: 75px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.1s ease;
}
/* right side shop */
.shop {
  background: #fff6dd;
  border: 4px solid #b58a4d;
  border-radius: 10px;
  padding: 20px;
  min-width: 200px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.1);
}

/* shop title */
#shopText1 {
  font-size: 30px;
  margin-bottom: 15px;
}

/* buttons */
.shop button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: #e0b974;
  transition: 0.2s;
}

.shop button:hover {
  background: #d3a95c;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

#cookie:active {
  transform: scale(0.95);
}

#cookie:hover {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
}
