
html, body {
  height: 100%;
  margin: 0;
  background: #f2e4c4;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* stack header on top, game below */
  justify-content: center; /* center vertically */
  align-items: center;     /* center horizontally */
}
h1 {
  font-size: 48px;
  margin-bottom: 30px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  background: #f9efd2;
  padding: 30px;
  border-radius: 15px;
  transition: 0.5s;
}

.game:hover {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1)
}
.cookie-area {
  text-align: center;
  font-size: 20px;
}

#cookie {
  margin-top: 20px;
  font-size: 75px;
  border-radius: 50%;
  clip-path: circle(28% at 51% 48%);
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s ease;
  animation: wiggle 2s infinite ease-in-out;
}

/* right side shop */
.shop {
  background: #fff6dd;
  border: 4px solid #b58a4d;
  border-radius: 10px;
  padding: 20px;
  min-width: 200px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.1);
}

/* shop title */
#shopText1 {
  font-size: 30px;
  margin-bottom: 15px;
}

/* buttons */
.Button {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: #e0b974;
  transition: 0.5s;
}

.Button:hover {
  background: #d3a95c;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

#cookie:hover {
  transform: scale(1.1);
}