body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f2e4c4;
  padding: 20px;
}

#cookie {
  width: 200px;
  cursor: pointer;
  transition: transform 0.1s ease;
  margin-top: 20px;
}

#cookie:active {
  transform: scale(0.95);
}

#counter, #cps {
  font-size: 24px;
  margin: 10px;
}

.shop {
  margin-top: 30px;
}

#shopText1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.shop button {
  padding: 10px 25px;
  font-size: 20px;
  background-color:#545454;
  cursor: pointer;
  margin: 10px;
}
